p{
    border:10px solid red;
    border-width: 10px 30px;
    padding: 30px;
    margin: 40px;    
}
.balra{
    text-align: left;
}
.jobbra{
    text-align: right;
}
.kozepre{
    text-align: center;
}
.sorkizart{
    text-align: justify;
}
.elsosor_behuzasa{
    text-indent: 20px;
}